<!DOCTYPE html>
<html>
<head>
    <title>Booking Confirmation</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="confirmation-container">
        <h2>Thanks for filling in the form.</h2>
        <p>You will be emailed next steps.</p>
    </div>
</body>
</html>
